@import '~bootstrap/scss/bootstrap';

// Components
@import '../sass/components/software-house-logo';

// Sticky Footer Layout
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
